*{
    box-sizing: border-box;
    color-scheme: dark;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    background-color: #23252d;
    color: #FAFAFF;
    text-align: center;
    padding: 1px;
    line-height: 1;
}

.navbar {
    background-color: #1f2128;
    height: auto;
    text-align: center;
}

a:link{
    color: #c8c8ff;
}
a:visited{
    color: #aeaede;
}
a:hover{
    color: #9494be;
}
a:active{
    color: #aeaede;
}

main{
    background-color: rgb(22, 23, 28);
    color: #FAFAFF;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 100vh;
    line-height: 1;
    text-align: center;
}

footer{
    background-color: #23252d;
    color: #FAFAFF;
    font-size: 80%;
    padding: 5px;
    line-height: 1;
}

video {
    width: 60%;
    height: auto ;
}


@media screen and (max-width: 800px) {
    body, header, .navbar, main, video {
        width: 100%;
    }
}