<header>
    <strong><a href="/" class="site-title">ixxz.moe •</a></strong>
    <nav>
        <span class="nav-cluster">
            <a href="/aboutme/">about.md</a>
            <a href="/blog/">blog/</a>
            <a href="/links/">links.md</a>
            <a href="/videos/">videos.md</a>
        </span>
        <span class="sep">|</span>
        <span class="nav-cluster">
            <a href="https://vivivy.bandcamp.com/">bandcamp</a>
            <a href="https://soundcloud.com/vivivy">sc</a>
            <a href="https://bsky.app/profile/ixxz.moe">bksy</a>
            <a href="https://github.com/nottucks">github</a>
            <a href="https://x.com/bnbvxcxz/">twt</a>
            <a href="https://www.youtube.com/@nottucks">yt</a>
            <a href="https://www.last.fm/user/nottucks">last.fm</a>
        </span>
    </nav>
</header>